 body{
     font-family: Arial, Helvetica, sans-serif;
     margin: 0;
     display: block;
 }
nav{
    width: 100%;
    position: absolute;
    background-color: black;
    overflow: auto;
    margin-bottom: 25px;
    
}

 nav ul{
     list-style-type: none;
     
 }
nav ul li{    
    display: inline-block;
    
}
 nav ul li a{
     padding: 15px 15px;
     text-decoration: none;
     color: white;
     text-align: center;

 }
 nav ul li a:hover{
     color: red;
     background-color: white;
     transition: 0.5s;
 }

.uvod{
    padding-top: 40px;
}

.uvod h1{
    text-align: center;
    font-size: 35px;
}

.uvod p{
    text-align: center;
    font-size: 18px;
}



